
.top_headerr {
    background-image: url(../images/bg_sec_new-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0; }
    .top_headerr .cntrtr_plnnttll_nw {
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
      .top_headerr .cntrtr_plnnttll_nw .lft_scc_nw .cntrttt_immggg_nw {
        width: 300px; }
      .top_headerr .cntrtr_plnnttll_nw .rght_scc_nw {
        text-align: right;
        color: white; }
        .top_headerr .cntrtr_plnnttll_nw .rght_scc_nw .tiitt_scc_nw {
          font-family: 'Roboto Slab', serif;
          font-size: 30px;
          font-weight: 700; }
        .top_headerr .cntrtr_plnnttll_nw .rght_scc_nw .sub_tiitt_scc_nw {
          font-family: 'Roboto Slab', serif;
          font-size: 25px;
          margin-bottom: 1em;
          opacity: .8; }
        .top_headerr .cntrtr_plnnttll_nw .rght_scc_nw .ttthrrd_tiitt_scc_nw {
          font-family: 'Roboto Slab', serif;
          font-size: 20px;
          margin-bottom: .5em;
          opacity: .8; }
        .top_headerr .cntrtr_plnnttll_nw .rght_scc_nw p {
          font-size: 16px;
          line-height: 25px; }
      .top_headerr .cntrtr_plnnttll_nw .bttmm_scc_nw {
        grid-column: span 2;
        margin-top: -40px; }
        .top_headerr .cntrtr_plnnttll_nw .bttmm_scc_nw .cntrttt_immggg_nw {
          width: 200px;
          position: relative; }
          .top_headerr .cntrtr_plnnttll_nw .bttmm_scc_nw .cntrttt_immggg_nw img {
            width: 100%; }
        .top_headerr .cntrtr_plnnttll_nw .bttmm_scc_nw .cntrttt_immggg_nw::after {
          content: '';
          position: absolute;
          width: 100vw;
          height: 2px;
          background-color: white;
          left: -45vw; }
  
  .app_notess {
    padding: 100px 0; }
    .app_notess .list_app_note .app_note_item {
      display: grid;
      grid-template-columns: 100px 1fr 100px;
      border-bottom: 1px solid #F0F0F1;
      padding: 2em 0; }
      .app_notess .list_app_note .app_note_item .box_img_app_note img {
        width: 100%; }
      .app_notess .list_app_note .app_note_item .descrrrpp_app_note {
        padding: 0 50px;
        color: #3D3B41; }
        .app_notess .list_app_note .app_note_item .descrrrpp_app_note .tiiittt_app {
          font-family: 'Roboto Slab', serif;
          font-size: 17px;
          text-transform: uppercase;
          margin-bottom: .5em; }
        .app_notess .list_app_note .app_note_item .descrrrpp_app_note .text_app {
          font-size: 12px;
          text-align: justify; }
      .app_notess .list_app_note .app_note_item .btm_dwnld_app {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .app_notess .list_app_note .app_note_item .btm_dwnld_app .bbbbtmmm {
          width: 100%;
          max-width: 150px;
          padding: .5em;
          border: 1px solid #273C86;
          color: #273C86;
          border-radius: 4px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          cursor: pointer;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s; }
        .app_notess .list_app_note .app_note_item .btm_dwnld_app .bbbbtmmm:hover {
          background-color: #273C86;
          color: white; }
  
  .sec_nuevaa {
    background-image: url(../images/bg_sec_new-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0; }
    .sec_nuevaa .spccc_sec_nueva {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .sec_nuevaa .spccc_sec_nueva .lgo_frntc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 2em; }
        .sec_nuevaa .spccc_sec_nueva .lgo_frntc span {
          width: 2px;
          height: 100px;
          background-color: white;
          margin: 0 60px; }
        .sec_nuevaa .spccc_sec_nueva .lgo_frntc .spc_sc_nw {
          width: 200px; }
          .sec_nuevaa .spccc_sec_nueva .lgo_frntc .spc_sc_nw img {
            width: 100%; }
      .sec_nuevaa .spccc_sec_nueva .texttt_cmplll {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .sec_nuevaa .spccc_sec_nueva .texttt_cmplll .tiitt_scc_nw {
          font-weight: 700;
          font-size: 30px;
          color: white; }
        .sec_nuevaa .spccc_sec_nueva .texttt_cmplll .sub_tiitt_scc_nw {
          font-family: 'Roboto Slab', serif;
          font-size: 20px;
          margin-bottom: 1.5em;
          color: white; }
        .sec_nuevaa .spccc_sec_nueva .texttt_cmplll a {
          border: 1px solid white;
          border-radius: 4px;
          width: 200px;
          padding: 1em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: white;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s; }
        .sec_nuevaa .spccc_sec_nueva .texttt_cmplll a:hover {
          background-color: white;
          color: #273C86; }
  
  @media only screen and (max-width: 900px) {
    .lft_scc_nw, .rght_scc_nw {
      grid-column: span 2 !important; }
    .lft_scc_nw {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .bttmm_scc_nw {
      margin: 2em 0 1em 0 !important;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .rght_scc_nw {
      text-align: justify !important; }
      .rght_scc_nw .tiitt_scc_nw {
        text-align: center; }
    .box_img_app_note img {
      max-width: 150px !important; }
    .app_note_item .box_img_app_note, .app_note_item .descrrrpp_app_note, .app_note_item .btm_dwnld_app {
      grid-column: span 3;
      margin-bottom: 1.5em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .app_note_item .descrrrpp_app_note {
      padding: 0 !important; } }
  