@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

$dark: #3D3B41;
$base1: #FFFFFF;
$base2: #F0F0F1;
$grey_light: #929497;
$grd2: repeat(2, 1fr);
$grd3: repeat(3, 1fr);
$grd4: repeat(4, 1fr);
$grd5: repeat(5, 1fr);
$gap: 2vw;
img {
    max-width: 100%;
    display: block;
}




