<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Frenetic
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.theme.default.min.css")
    body
        .main_headerr
            header
                .container1
                    .header1
                        .logo_scp
                            a(href="#")
                                img(src="images/logo/logo_2.png", alt="")
                        .cntrl_mmmnu
                            .space_optns
                                .menuu1
                                    a.active(href="#") How it work
                                    a(href="#") Services
                                    a(href="#") Support
                                .menuu2
                                    a(href="#") Login
                                    .langg
                                        .llnnng.active EN
                                        .llnnng ES
                        .cntrl_btm_brss
                            .buttn_respppn
                                i.fas.fa-bars
            
            .main_colorrr

        section.sssccc_hw_wrrkk
            .container2
                .spc_hw_wrk
                    .img_hwww
                        img(src="images/how_it_work.png", alt="")
                    .texto
                        .sub_tittle_section How it work
                        p Frenetic uses Artiﬁcal Intelligence for ﬁnding the optimal magnetic design and our artisans create a prototypes for you.
                        p Frenetic uses Artiﬁcal Intelligence for ﬁnding the optimal magnetic design and our artisans create a prototypes for you.

                        h3 Startup of the UPM wants to revolutionize the electronics of Electric Vehicles 

        


        




        
        section
            .container2
                .cnnntt.top_secc
                    .tittle_section FRENETIC FEEL IT
                    P Frenetic is a technology developed by Sp Control Technologies for designing and testing Inductors and transformers. Frenetic uses artiﬁcial intelligence for ﬁnding the optimal solution, using data from our own measurements and from core manufactures.


        section.slider1
            .container2
                .contenedor_slider
                    .texto
                        .sub_tittle_section Get your magnetic <br> in one week
                        p Frenetic uses Artiﬁcal Intelligence for ﬁnding the optimal magnetic design and our artisans create a prototypes for you.
                    .computador
                        img(src="images/pc-slider.png", alt="")
        
        section.sc_icnnsss
            .container2
                .spc_iconss
                    .icon
                        img(src="images/icons/icn1.png", alt="")
                        .titt_icnss Pre Diseño
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam omnis enim, possimus earum alias modi rerum placeat vitae ullam unde?
                    .icon
                        img(src="images/icons/icn2.png", alt="")
                        .titt_icnss Diseño
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam omnis enim, possimus earum alias modi rerum placeat vitae ullam unde?
                    .icon
                        img(src="images/icons/icn3.png", alt="")
                        .titt_icnss Análisis
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam omnis enim, possimus earum alias modi rerum placeat vitae ullam unde?
                    .icon
                        img(src="images/icons/icn4.png", alt="")
                        .titt_icnss Medidas
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam omnis enim, possimus earum alias modi rerum placeat vitae ullam unde?
                    .icon
                        img(src="images/icons/icn5.png", alt="")
                        .titt_icnss Prototipo
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam omnis enim, possimus earum alias modi rerum placeat vitae ullam unde?


        section.bg_sss
            .img_bg
                img(src="images/bg1.png", alt="")
            .container2
                .spc_newslltttr
                    .subbbbt REGISTRARSE ES FÁCIL, SIGUE ESTOS SENCILLOS PASOS
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum ipsa a, repudiandae corrupti, laboriosam provident dolore libero vero, inventore perspiciatis ad qui possimus vel sapiente ducimus eum repellendus laudantium.
                    .spccc_form_sss
                        form
                            input(type="email", name="")
                            button(type="submit")
                                i.far.fa-envelope

        
                      

        section
            .container2
                .ult_nottt
                    .tittle_section ULTIMAS NOTICIAS
                    .contenedor_slider
                        .imag_sliderr
                            img(src="images/postt-11.png", alt="")

                        .texto
                            .sub_tittle_section Post 1
                            p Frenetic uses Artiﬁcal Intelligence for ﬁnding the optimal magnetic design and our artisans create a prototypes for you. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio unde, reprehenderit ipsam magni beatae quaerat sequi facilis assumenda quisquam ipsum.

                    .otrsss_post
                        a.box_post(href="#")
                            img(src="images/postt-12.png", alt="")
                            
                            .cover
                                .bx_ccvvrr
                                    .top_cvrrrr
                                        .tiittt_cvrrr Post 4
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa magnam, aperiam at nemo rerum iure!
                                    .dtt
                                        .date_pst 21/01/17
                        a.box_post(href="#")
                            img(src="images/postt-13.png", alt="")
                            
                            .cover
                                .bx_ccvvrr
                                    .top_cvrrrr
                                        .tiittt_cvrrr Post 4
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa magnam, aperiam at nemo rerum iure!
                                    .dtt
                                        .date_pst 21/01/17
                        a.box_post(href="#")
                            img(src="images/postt-12.png", alt="")
                            
                            .cover
                                .bx_ccvvrr
                                    .top_cvrrrr
                                        .tiittt_cvrrr Post 4
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa magnam, aperiam at nemo rerum iure!
                                    .dtt
                                        .date_pst 21/01/17


        section.sec_nuevaa
            .container2
                .spccc_sec_nueva
                    .lgo_frntc
                        .spc_sc_nw
                            img(src="images/logo/logo_1.png", alt="")
                        span
                        .spc_sc_nw
                            img(src="images/logoo_nww.png", alt="")

                    .texttt_cmplll
                        .tiitt_scc_nw FRENETIC
                        .sub_tiitt_scc_nw APPLICATION EXAMPLE
                        a(href="#") See More 

        section.sec_yulll
            .container2
                .ullltt_nottt
                    .tittle_section ULTIMAS NOTICIAS
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque, sem sed condimentum dictum.
                    .slidrrr_marcas.owl-carousel
                        a.logo_marca(href="#")
                            img(src="images/marcas/logo1.png", alt="")
                        a.logo_marca(href="#")
                            img(src="images/marcas/logo2.png", alt="")
                        a.logo_marca(href="#")
                            img(src="images/marcas/logo3.png", alt="")
                        a.logo_marca(href="#")
                            img(src="images/marcas/logo1.png", alt="")
                        a.logo_marca(href="#")
                            img(src="images/marcas/logo2.png", alt="")
                        a.logo_marca(href="#")
                            img(src="images/marcas/logo3.png", alt="")
                        a.logo_marca(href="#")
                            img(src="images/marcas/logo1.png", alt="")
                        a.logo_marca(href="#")
                            img(src="images/marcas/logo2.png", alt="")
                        a.logo_marca(href="#")
                            img(src="images/marcas/logo3.png", alt="")
        
       




        section.sec_contaccttt
            .aj_bg
            .container2
                .spcc_contcccc
                    .tittle_section SUPPORT
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis pariatur nemo, iusto repudiandae cum impedit incidunt reiciendis numquam nam unde!

                    .spc_form_contacttt
                        form
                            input(type="text", placeholder="Name")
                            input(type="email", placeholder="Email")
                            textarea(name="", cols="30", rows="10", placeholder="Mensage")
                            .spc_btmm_form_contact
                                button(type="submit") Send
                        
                        .spc_info_ubbb
                            .line_ubiccc
                                .icncc
                                    img(src="images/icons/icn6.png", alt="")
                                p C/ Camino dal camino 21, Spain, Madrid
                            .line_ubiccc
                                .icncc
                                    img(src="images/icons/icn7.png", alt="")
                                a(href="#") info@frenetic.net
                            .line_ubiccc
                                .icncc
                                    img(src="images/icons/icn8.png", alt="")
                                p +34 689 00 00 99

                        












        footer
            .container2
                .space_info_footer
                    .lllogo
                        .logo_footer
                            img(src="images/logo/logo_1.png", alt="")
                        
                        p Lorem ipsum dolor sit amet.

                        a(href="#") Terminos y condiciones

                    
                    .connntcr
                        .cntrlll_cnnntttcc
                            .ttitt_footr CONTACT US
                            a(href="#") hello@frenetic.net

                            a(href="#") C/Camino del camino 21  Spain/Madrid

                            a(href="#") +34 678 88 67 65


                    
                    .newsllttrr
                        .ttitt_footr SUBSCRIBE
                        P Enter your email to get notifed about new solutions
                        form
                            input(type="text", placeholder="email")
                            button(type="submit")
                                i.far.fa-envelope
                    
                    
                .line_down
                    | 2018 Frenetic All Right Reserved

        script(src="js/jquery.js")
        script(src="js/owl.carousel.min.js")
        script(src="js/all.js")
        script(src="js/main.js")