<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Frenetic
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.theme.default.min.css")
    body


        section.top_headerr
            .container2
                .cntrtr_plnnttll_nw
                    .lft_scc_nw
                        .cntrttt_immggg_nw
                            img(src="images/logo/logo_1.png", alt="")
                        
                    .rght_scc_nw

                        .tiitt_scc_nw FRENETIC
                        .sub_tiitt_scc_nw APPLICATION EXAMPLE
                        .ttthrrd_tiitt_scc_nw TRANSFORMER DESIGN OF THE APPLICATION NOTE AN3106 FROM ST
                        p Magnetic components are the actual bottel neck for improving the power density in power conversion. For that reason in SPC we have created Frenetic. Frenetic is able to provide a working design without iterations needed in less than a week . In this document, a transformer used in the application note AN3106 of ST is introduced with the aim of show the optimized result provided by Frenetic in less than 10 hours.

                    .bttmm_scc_nw
                        .cntrttt_immggg_nw
                            img(src="images/logoo_nww.png", alt="")
        
        section.app_notess
            .container2
                .list_app_note

                    .app_note_item
                        .box_img_app_note
                            img(src="images/postt-12.png", alt="")
                        .descrrrpp_app_note
                            .tiiittt_app Nombre de la App Note
                            .text_app Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo suscipit libero numquam quia exercitationem similique ad doloremque quis. Repellendus nam consequatur tenetur perferendis consequuntur blanditiis mollitia neque illo dicta fugit!
                        .btm_dwnld_app
                            .bbbbtmmm Download
                            
                    .app_note_item
                        .box_img_app_note
                            img(src="images/postt-12.png", alt="")
                        .descrrrpp_app_note
                            .tiiittt_app Nombre de la App Note
                            .text_app Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo suscipit libero numquam quia exercitationem similique ad doloremque quis. Repellendus nam consequatur tenetur perferendis consequuntur blanditiis mollitia neque illo dicta fugit!
                        .btm_dwnld_app
                            .bbbbtmmm Download

                    .app_note_item
                        .box_img_app_note
                            img(src="images/postt-12.png", alt="")
                        .descrrrpp_app_note
                            .tiiittt_app Nombre de la App Note
                            .text_app Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo suscipit libero numquam quia exercitationem similique ad doloremque quis. Repellendus nam consequatur tenetur perferendis consequuntur blanditiis mollitia neque illo dicta fugit!
                        .btm_dwnld_app
                            .bbbbtmmm Download




        footer
            .container2
                .space_info_footer
                    .lllogo
                        .logo_footer
                            img(src="images/logo/logo_1.png", alt="")
                        
                        p Lorem ipsum dolor sit amet.

                        a(href="#") Terminos y condiciones

                    
                    .connntcr
                        .cntrlll_cnnntttcc
                            .ttitt_footr CONTACT US
                            a(href="#") hello@frenetic.net

                            a(href="#") C/Camino del camino 21  Spain/Madrid

                            a(href="#") +34 678 88 67 65


                    
                    .newsllttrr
                        .ttitt_footr SUBSCRIBE
                        P Enter your email to get notifed about new solutions
                        form
                            input(type="text", placeholder="email")
                            button(type="submit")
                                i.far.fa-envelope
                    
                    
                .line_down
                    | 2018 Frenetic All Right Reserved

        script(src="js/jquery.js")
        script(src="js/owl.carousel.min.js")
        script(src="js/all.js")
        script(src="js/main.js")