section.sec_nuevaa
    .container2
        .spccc_sec_nueva
            .lgo_frntc
                .spc_sc_nw
                    img(src="images/logo/logo_1.png", alt="")
                span
                .spc_sc_nw
                    img(src="images/logoo_nww.png", alt="")

            .texttt_cmplll
                .tiitt_scc_nw FRENETIC
                .sub_tiitt_scc_nw APPLICATION EXAMPLE
                a(href="#") See More
                